form{

	// Wrap each form input/element in an item div
	.item{
		margin-bottom:$padding/2;
	}

	ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	label{
		display:block;
		margin-bottom:5px;
	}
	input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea{
		@include box-sizing(border-box);
		@include box-shadow(inset 0 1px 2px rgba(0,0,0,.05));
		width:100%;
		padding:5px;
		border:1px solid #ccc;
		outline:none;
		&:focus{
			border-color:$orange;
		}
		&.auto{
			width:auto;
		}
	}

	.cheeseRetailers_filters {
		div {
		padding-bottom: 2em;
	}
	select {
		margin-bottom:1em;
	}
	input.btn {
		margin-bottom:1em;
	}
}


	// Notes go under the input fields
	.note{
		margin-top:5px;
		color:$subtle-color;
	}

	// Required label
	.req{
		font-style: italic;
	}

	// Validation, add error class to the item div
	.error{

		// Validation reason
		.reason{
			margin-top:5px;
			color:$bad-color;
		}
		input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea{
			border-color:$bad-color;
		}
	}
}

input[type="search"] {
	-webkit-appearance: textfield;
}

.library_alphabet a {
	color: #fff;
	background: #d9531e;
	padding: .5em .8em;
	margin: .5em;
	float: left;
}

.current-alphabet-letter {
	opacity: .5;
	cursor: default;
}

ul.alphabet-list {
	clear:both;
	list-style-type:none;
	padding:0;
	margin-bottom: 2.5em;
border-bottom: 1px solid #ccc;
padding-bottom: 1.5em;
}

.library-search-fields {
	li {
		padding-bottom:2em;
	}
}

.cheeseLibraryFilters {
	li {
	padding:0;

}
	div {
		padding-bottom: 2em;
	}
}




