// Susy grid

@import "susy";

// Configuring Susy defaults
$total-columns: 14;
$column-width: 4rem;
$gutter-width: 1rem;
$grid-padding: 0;

// default magic
$container-style: magic;

// set true to allow the use of susy grid background
$show-grid-backgrounds: false;


.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color:#fff;
    padding: 0 1em;
    transition: margin .3s ease-in-out;
              @media screen and (max-width: 960px) {
        max-width: 750px;

    }
}

.container-grid {
  @include susy-grid-background;
    overflow: hidden;
  @include clearfix;

}

.col-main {
    @include span-columns (9);
    margin: 0 auto;
    @media screen and (max-width: 960px) {
        @include span-columns (14);
    }
}

.col-rail {
   @include span-columns (4 omega);
   min-width: 300px;
   @media screen and (max-width: 960px) {
        @include span-columns (14);
        min-width: 50%;
    }
}

.feature-slider {
    width: 100%;
    max-width: 1200px;
}
    

.footer-col {
    width: 30%;
    padding-right:3%;
    float: left;
    &:last-child {
        padding-right:0;
    }
    @media screen and (max-width: 960px) {
        width:100%;
        clear:both;
        &:last-child {
            padding-top:2em;
        }
    }
}

.footer-row {
    clear:both;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

